  <footer>
  <div class="row">
   <div class="col-md-12">
     <div class="panel-footer">
       <h4>Обратная связь</h4>
       <div class="row">
         <div class="col-md-9">
          <p>Вашего заведения нет в списке? Свяжитесь с нами для сотрудничества!</p>
         </div>
         <div class="col-md-3">
           <a href="#" class="btn btn-primary active">Связаться</a>
         </div>
        </div>
      </div>   
    </div>
  </div>
    <p>&copy; vydelka.com.ua 2014</p>
  </footer>